#navigation {
  ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
    background: #203E5F;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    li {
      display: inline-block;
      height: 100%;
      margin: 0;
      position: relative;
      vertical-align: top;
      font-size: 15px;
      text-align: center;
      border: 0;
    }

    a {
      color: rgba(255, 255, 255, 0.75);
      display: inline-block;
      padding: 16px 48px;
      position: relative;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
      &.active, &:hover {
        color: white;
        background: rgba(92, 126, 164, 0.33);
      }
      &:active {
        top: 1px;
      }
    }
  }
}